[submodule "xfce/nord-xfce-terminal"]
	path = xfce/nord-xfce-terminal
	url = https://github.com/arcticicestudio/nord-xfce-terminal.git
[submodule "zsh/plugins/zshmarks"]
	path = zsh/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks.git
