# include this git config in your main '.gitconfig' file like this:
#[include]
#  path = dotfiles/.gitconfig

[core]
  editor = vim
  excludesfile = ~/dotfiles/.gitignore_global
[alias]
  st = status -s
  co = commit
  pu = push
  d  = diff
  dt = difftool
  lg = log --decorate --graph --remotes --branches --tags --pretty=tformat:'%C(dim white)%m%C(dim green)%h %C(dim cyan)%cd %C(yellow)%<(12,trunc)%aN %C(reset)%s%C(auto)%w(0,0,9)%+d%C(reset)'
  fadd = "!git ls-files -m -o --exclude-standard | fzf --print0 -m --preview=\"printenv\" | xargs -0 -t -o git add"
  ls = "!git ls-tree --full-tree -r --name-only HEAD"

  # merge manually:
  mm = merge --no-commit --no-ff 
[log]
  date = format:%Y-%m-%d %H:%M
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[difftool]
  prompt = false
  # be able to abort all diffs with :cq
  trustExitcode =true
